h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 45%;
    font-weight: bold;
}

th:nth-child(3) {
    width: 45%;
}
